<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mAI Fridge Website</title>
        <link rel="stylesheet" href="/static/about.css">
    </head>
    <body>
        <div class="hero">
            <nav>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
            </nav>
            <div class="about-section">
                <h1>About Page</h1>
                <p>
                    Mai Fridge is your go-to platform for creating delicious recipes based on the ingredients you
                    already have in your fridge. Our generative AI technology ensures that you can make the most out of
                    the items available, turning them into delightful and nutritious meals.
                </p>
                <div class="mission-section">
                    <h2>Our Mission</h2>
                    <p>
                        At Mai Fridge, our mission is to simplify cooking by empowering you to make tasty and resourceful
                        meals with ease. We believe in reducing food waste and making the cooking experience enjoyable for
                        everyone, regardless of their culinary expertise.
                    </p>
                    <p>
                        Join us in the journey towards a more sustainable and flavorful approach to cooking. Explore new
                        recipes, discover creative ways to use your ingredients, and enjoy the process of crafting meals that
                        perfectly fit your taste and preferences.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>